<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('public/css/layout.css') }}" type="text/css" media="all" />
        <title>{% block title %}Kobosta.com{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        <div id="wrapper">
            <div id="mask">
                <div id="welcome" class="item">
                    <div class="topleft">
                        KOBOSTACOM
                    </div>
                    <div class="bottomleft">
                        {{ texts.find('proudly_designed_text').text | raw }}
                    </div>
                    <div class="bottom">
                        <a href="#!tshirts" class="panel logoarrow downarrow"><img class="arrow" src="{{asset('public/images/welcome/UNSELECTED_DOWN.png')}}"></a>
                    </div>
                    <div class="topright">
                        <a href="http://www.facebook.com/Kobosta" target="_blank"><img src="{{asset('public/images/UNSELECTED_F.png')}}" class="fb" alt="FB" /></a>
                        <a href="https://twitter.com/kobosta" target="_blank"><img src="{{asset('public/images/UNSELECTED_T.png')}}" class="twitter" alt="Twitter" /></a>
                        <a href="http://blog.kobosta.com/" target="_blank"><img src="{{asset('public/images/UNSELECTED_B.png')}}" class="blog" alt="Blog" /></a>
                        <img src="{{asset('public/images/UNSELECTED__.png')}}" class="info" alt="Question" />
                    </div>
                    <div class="content">
                        {% include 'KobostaSiteBundle::welcome.html.twig' %}
                    </div>
                </div>
                <div id="tshirts" class="item">
                    <div class="top">
                        <a href="#!welcome" class="panel uparrow"><img class="arrow" src="{{asset('public/images/main/UNSELECTED_UP.png')}}"></a>
                    </div>
                    <div class="bottom">
                        <a href="#!order" class="panel orderarrow"><img class="arrow" src="{{asset('public/images/main/UNSELECTED_ORDER.png')}}"></a>
                    </div>
                    <div class="content">
                        <table>
                            <tr>
                                <td>
                                    {% include 'KobostaSiteBundle::tshirts.html.twig' %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="order" class="item">
                    <div class="top">
                        <a href="#!tshirts" class="panel uparrow"><img class="arrow" src="{{asset('public/images/main/UNSELECTED_UP.png')}}"></a>
                    </div>
                    <div class="content">
                        <table>
                            <tr>
                                <td>
                                    {% include 'KobostaSiteBundle::order.html.twig' %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="about" class="item">
                    <div class="topright">
                        <img src="{{asset('public/images/about/X_INFO.png')}}" class="xinfo" alt="Xinfo" />
                    </div>
                    <div class="content">
                        <table>
                            <tr>
                                <td>
                                    {% include 'KobostaSiteBundle::about.html.twig' %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{{ asset('public/js/lib/jquery.scrollTo-1.4.2.js') }}"></script>
        <script src="{{ asset('public/js/lib/jquery.selectbox-0.1.3.min.js') }}"></script>
        <script src="{{ asset('public/js/lib/jquery.transitionBox.min.js') }}"></script>
        <script src="{{ asset('public/js/main.js') }}"></script>
        <script>
            var unselectedUpUrl = "{{ asset('public/images/main/UNSELECTED_UP.png') }}";
            var selectedUpUrl = "{{ asset('public/images/main/SELECTED_UP.png') }}";
            var unselectedDownUrl = "{{ asset('public/images/welcome/UNSELECTED_DOWN.png') }}";
            var selectedDownUrl = "{{ asset('public/images/welcome/SELECTED_DOWN.png') }}";
            var unselectedOrderUrl = "{{ asset('public/images/main/UNSELECTED_ORDER.png') }}";
            var selectedOrderUrl = "{{ asset('public/images/main/SELECTED_ORDER.png') }}";
            var unselectedLeftUrl = "{{ asset('public/images/main/UNSELECTED_LEFT.png') }}";
            var selectedLeftUrl = "{{ asset('public/images/main/SELECTED_LEFT.png') }}";
            var unselectedRightUrl = "{{ asset('public/images/main/UNSELECTED_RIGHT.png') }}";
            var selectedRightUrl = "{{ asset('public/images/main/SELECTED_RIGHT.png') }}";

            var fbUrl = "{{ asset('public/images/UNSELECTED_F.png') }}";
            var selectedFbUrl = "{{ asset('public/images/SELECTED_F.png') }}";
            var twitterUrl = "{{ asset('public/images/UNSELECTED_T.png') }}";
            var selectedTwitterUrl = "{{ asset('public/images/SELECTED_T.png') }}";
            var blogUrl = "{{ asset('public/images/UNSELECTED_B.png') }}";
            var selectedBlogUrl = "{{ asset('public/images/SELECTED_B.png') }}";
            var infoUrl = "{{ asset('public/images/UNSELECTED__.png') }}";
            var selectedInfoUrl = "{{ asset('public/images/SELECTED__.png') }}";
            
            var unselectedFormOrderUrl = "{{ asset('public/images/order/UNSELECTED_ORDDER.png') }}";
            var selectedFormOrderUrl = "{{ asset('public/images/order/SELECTED_ORDDER.png') }}";

            {# Tshirts #}
            var monthlyTshirts = {};
            {% for tshirt in tshirts %}
                monthlyTshirts['{{"%02d"|format(tshirt.month)}}_{{tshirt.year}}'] = {
                    'tshirtid': '{{tshirt.id}}',
                    'logo': '{{asset(tshirt.logoWebPath)}}',
                    'fabric': '{{asset(tshirt.fabricWebPath)}}',
                    'title': '{{tshirt.title|upper}}',
                    'description': '{{tshirt.description}}',
                    'monthtext': "{{tshirt.monthtext|upper}}",
                    'stock': {{tshirt.stock}},
                    'sremaining': {{tshirt.remainingS}},
                    'mremaining': {{tshirt.remainingM}},
                    'lremaining': {{tshirt.remainingL}},
                    'xlremaining': {{tshirt.remainingXL}},
                    'xxlremaining': {{tshirt.remainingXXL}},
                    'price': {{tshirt.price}},
                    'remaining': {{tshirt.remaining}},
                    };
            {% endfor %}
            {#var tshirtlogospreload = new Array();
            {% for tshirt in tshirts %}
                tshirtlogospreload.push("{{asset(tshirt.logoWebPath)}}");
            {% endfor %}
            $(tshirtlogospreload).preload();#}
        </script>
    </body>
</html>