<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('public/css/layout.css') }}" type="text/css" media="all" />
        <title>{% block title %}Kobosta.com{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        <div id="wrapper">
            <div id="mask">
                <div id="welcome" class="item">
                    <div class="bottomleft">
                        KOBOSTACOM
                    </div>
                    <div class="topright">
                        <img src="{{asset('public/images/unselected_fb.png')}}" class="fb" alt="FB" />
                        <img src="{{asset('public/images/unselected_twitter.png')}}" class="twitter" alt="Twitter" />
                        <img src="{{asset('public/images/unselected_blog.png')}}" class="blog" alt="Mail" />
                        <img src="{{asset('public/images/unselected_mail.png')}}" class="mail" alt="Blog" />
                        <img src="{{asset('public/images/unselected_info.png')}}" class="info" alt="Info" />
                    </div>
                    <div class="content">
                        {% include 'KobostaSiteBundle::welcome.html.twig' %}
                    </div>
                </div>
                <div id="tshirts" class="item">
                    <div class="top">
                        <a href="#welcome" class="panel uparrow"><img class="arrow" src="{{asset('public/images/arrow.png')}}"></a>
                    </div>
                    <div class="bottom">
                        <a href="#order" class="panel downarrow"><span>ORDER</span><img class="arrow" src="{{asset('public/images/arrow.png')}}"></a>
                    </div>
                    <div class="content">
                        <table>
                            <tr>
                                <td>
                                    {% include 'KobostaSiteBundle::tshirts.html.twig' %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="order" class="item">
                    <div class="top">
                        <a href="#tshirts" class="panel uparrow"><img class="arrow" src="{{asset('public/images/arrow.png')}}"></a>
                    </div>
                    <div class="topright">
                        <img src="{{asset('public/images/unselected_fb.png')}}" class="fb" alt="FB" />
                        <img src="{{asset('public/images/unselected_twitter.png')}}" class="twitter" alt="Twitter" />
                        <img src="{{asset('public/images/unselected_blog.png')}}" class="blog" alt="Mail" />
                        <img src="{{asset('public/images/unselected_mail.png')}}" class="mail" alt="Blog" />
                        <img src="{{asset('public/images/unselected_info.png')}}" class="info" alt="Info" />
                    </div>
                    <div class="content">
                        <table>
                            <tr>
                                <td>
                                    {% include 'KobostaSiteBundle::order.html.twig' %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{{ asset('public/js/lib/jquery.scrollTo-1.4.2.js') }}"></script>
        <script src="{{ asset('public/js/lib/jquery.transitionBox.min.js') }}"></script>
        <script src="{{ asset('public/js/main.js') }}"></script>
        <script>
            var arrowUrl = "{{ asset('public/images/arrow.png') }}";
            var selectedArrowUrl = "{{ asset('public/images/selectedarrow.png') }}";
            var unselectedLogoUrl = "{{ asset('public/images/unselected_logo.png') }}";
            var selectedLogoUrl = "{{ asset('public/images/selected_logo.png') }}";

            var fbUrl = "{{ asset('public/images/unselected_fb.png') }}";
            var selectedFbUrl = "{{ asset('public/images/selected_fb.png') }}";
            var twitterUrl = "{{ asset('public/images/unselected_twitter.png') }}";
            var selectedTwitterUrl = "{{ asset('public/images/selected_twitter.png') }}";
            var blogUrl = "{{ asset('public/images/unselected_blog.png') }}";
            var selectedBlogUrl = "{{ asset('public/images/selected_blog.png') }}";
            var mailUrl = "{{ asset('public/images/unselected_mail.png') }}";
            var selectedMailUrl = "{{ asset('public/images/selected_mail.png') }}";
            var infoUrl = "{{ asset('public/images/unselected_info.png') }}";
            var selectedInfoUrl = "{{ asset('public/images/selected_info.png') }}";

            {# Tshirts #}
            var monthlyTshirts = {};
            {% for tshirt in tshirts %}
                monthlyTshirts['{{"%02d"|format(tshirt.month)}}_{{tshirt.year}}'] = {
                    'logo': '{{asset(tshirt.logoWebPath)}}',
                    'fabric': '{{asset(tshirt.fabricWebPath)}}',
                    'title': '{{tshirt.title|upper}}',
                    'description': '{{tshirt.description}}'
                    };
            {% endfor %}
        </script>
    </body>
</html>