<div id="order-content">
    <div id="order-left">
        <img />
        <div id='order-bottom'>
            <h1><span class="otshirttitle"></span><span class="otshirtprice"></span></h1>
            <div class="otshirtname"></div>
        </div>
    </div>
    <div id="order-right">
        {#<div id='order-sizes'>
            <h1>SIZES</h1>
            <div></div>
        </div>#}
        <div id='order-now-button'>
            <h1>{{ texts.find('order_fill_text').text }}</h1>
            <form id="order-form" action="{{ path('order') }}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <p>
                    <button type="submit" />
                </p>
            </form>
            {#<img src="{{asset('public/images/order/SIZE_T_SHIRT.png')}}" alt="sizes" class="sizesshirt" />#}
        </div>
    </div>
</div>